// Overwritten Variables
$fa-font-path:   "../Font-Awesome-master/fonts"

// Color Variables
$gray:        #656566
$nude:        #D4CF94
$dark-purple: #291C3B
$purple:      #402363
$yellow:      #FAEF4E

// Flexbox mixins
@mixin flexbox() 
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

@mixin flex($values) 
  -webkit-box-flex: $values
  -moz-box-flex:  $values
  -webkit-flex:  $values
  -ms-flex:  $values
  flex:  $values

@mixin order($val) 
  -webkit-box-ordinal-group: $val  
  -moz-box-ordinal-group: $val     
  -ms-flex-order: $val     
  -webkit-order: $val  
  order: $val

// External Stylesheets
@import ../Font-Awesome-master/scss/font-awesome

// General Styles
*
  font-family: "Lato", Verdana, Sans-serif
  font-size: 16px
  -webkit-box-sizing: border-box
  -moz-box-sizing:    border-box
  -ms-box-sizing:     border-box
  -o-box-sizing:      border-box
  box-sizing:         border-box

body
  margin: 0
  background-image: url('../images/redcups.jpg')
  background-attachment: fixed
  background-size: cover

i
  @extend .fa

// Text Styles
h1
  font-size: 3em
  margin: 0
  display: block

h2
  font-size: 2em
  font-weight: 400
  margin: 0

h3
  font-size: 2em
  font-weight: 300
  margin: 0

// Header Styles
header
  width: 100%
  background-color: $dark-purple
  color: white
  padding: 20px
  h1
    text-align: center
    font-weight: 300
    span
      font-weight: 400
      font-size: 3rem
    i
      @extend .fa-glass
      font-size: 3rem
      margin-right: 20px

// Main Content Styles
section
  +flexbox
  background-color: rgba(0,0,0,0.4)
  width: 60%
  margin: 40px auto
  flex-direction: row
  article
    display: inline
    color: white
    &:first-child
      width: 65%
      padding: 40px
    &:last-child
      width: 35%
    img
      max-width: 100%
    h2,h3
      margin: 20px 0

footer
  background-color: $gray
  position: fixed
  bottom: 0
  width: 100%
  text-align: center
  a
    color: $dark-purple
    font-size: 2rem
    i
      font-size: 2rem
      margin: 10px
    &:first-child i
      @extend .fa-facebook
    &:nth-child(2) i
      @extend .fa-twitter
    &:nth-child(3) i
      @extend .fa-google-plus
    a
      display: block