// Overwritten Variables
$fa-font-path:   "../Font-Awesome-master/fonts"

// Color Variables
$gray:        #656566
$nude:        #D4CF94
$dark-purple: #291C3B
$purple:      #402363
$yellow:      #FAEF4E

// Flexbox mixins
@mixin flexbox() 
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

@mixin flex($values) 
  -webkit-box-flex: $values
  -moz-box-flex:  $values
  -webkit-flex:  $values
  -ms-flex:  $values
  flex:  $values

@mixin order($val) 
  -webkit-box-ordinal-group: $val  
  -moz-box-ordinal-group: $val     
  -ms-flex-order: $val     
  -webkit-order: $val  
  order: $val

// External Stylesheets
@import ../Font-Awesome-master/scss/font-awesome


// General Styles
*
  font-family: "Lato", Verdana, Sans-serif
  font-size: 16px
  -webkit-box-sizing: border-box
  -moz-box-sizing:    border-box
  -ms-box-sizing:     border-box
  -o-box-sizing:      border-box
  box-sizing:         border-box

body
  margin: 0
  background-image: url('../images/click.jpeg')
  background-attachment: fixed
  background-size: cover
  min-width: 420px

i
  @extend .fa

// Text Styles
h1
  font-size: 3em
  margin: 0
  display: block

h2
  font-size: 2em
  font-weight: 400
  margin: 0

h3
  font-size: 2em
  font-weight: 300
  margin: 0

h4
  font-size: 1.5em
  font-weight: 400

// Header Styles
header
  width: 100%
  background-color: $dark-purple
  color: white
  padding: 20px
  h1
    text-align: center
    font-weight: 300
    span
      font-family: Verdana, Sans-serif
      font-weight: 400
      font-size: 3rem
    i
      @extend .fa-glass
      font-size: 3rem
      margin-right: 20px

// Main Content Styles
section
  +flexbox
  // background-color: rgba(0,0,0,0.4)
  width: 60%
  margin: 40px auto
  flex-direction: row
  article
    display: inline
    color: white
    &:first-child
      width: 65%
    &:last-child
      width: 35%
    div
      width: 20%
      min-width: 150px
      display: inline-block
      text-align: center
      margin: 20px 0
      &:nth-child(3) i
        @extend .fa-map-marker
      &:nth-child(4) i
        @extend .fa-users
      &:nth-child(5) i
        @extend .fa-dollar
      &:nth-child(6) i
        @extend .fa-music
      i
        font-size: 5em
      h4
        text-align: center
        margin: 0 5px
        text-shadow: 2px 2px 2px black
    img
      max-width: 100%
    h2,h3
      margin: 20px 0

footer
  background-color: $gray
  position: fixed
  bottom: 0
  width: 100%
  text-align: center
  a
    color: $dark-purple
    font-size: 2rem
    i
      font-size: 2rem
      margin: 10px
    &:first-child i
      @extend .fa-facebook
    &:nth-child(2) i
      @extend .fa-twitter
    &:nth-child(3) i
      @extend .fa-google-plus
    a
      display: block

// Media Queries
@media (max-width: 1780px)
  section
    width: 70%

@media (max-width: 1530px)
  section
    width: 80%

@media (max-width: 1340px)
  section
    width: 90%

@media (max-width: 1190px)
  section
    width: 95%

@media (max-width: 1130px)
  section
    article
      div
        width: 40%

@media (max-width: 630px)
  section
    flex-direction: column
    article
      width: 100% !important

@media (max-width: 430px)
  section
    flex-direction: column
    width: 100%
    article
      width: 100% !important